<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define a rolling file appender -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Specify the base file name -->
        <file>/var/log/eCommerce/eCommerce.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>/var/log/eCommerce/eCommerce.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>

        <!-- Define the log message format and layout -->
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="DEBUG">
        <appender-ref ref="ROLLING"/>
    </root>

</configuration>
